*{
    margin: 0;
}
html{
  scroll-behavior: smooth; 
  /* background: #F1F0D8; */
  background: linear-gradient(180deg, #F1F0D8 0%, #FFE672 25%, #F0B34F 50%, #D86A6C 75%, #9B4019 100%);
   
}
::-webkit-scrollbar {display: none;} /* no scroll bar*/


/** grid for all pages **/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);/* spans 1 - 13*/
    grid-template-rows: repeat(40, 1fr);/* supa long grid*/
    justify-content: center;
    overflow: hidden; /* so there is no side scroll, everything fits in the page*/
  
    
  } 
/* end grid section */

  /* fonts */
  h1{
    font-family: Neue Kabel;
    font-size: 96px;
  }

  h2{
    font-family: "bagatelle-variable", sans-serif;
    font-variation-settings: "BLLS" 199.0, "STCK" 219.81982; 
    font-size: 96px;
  }

  h3{
    font-family: "bagatelle-variable", sans-serif;
    font-variation-settings: "BLLS" 199.0, "STCK" 219.81982; 
    font-size: 100px;
    color: #59391A;
  }
  h4{
    font-family: "neue-kabel-regular", sans-serif;
    font-size: 32px;
    color: #7C4F25;
  }
  p{
    font-family: Neue Kabel Light;
    font-size: 24px;
    color: #64331E;

  }

  /* end font section */


  /* backgrounds */
  #tickets-grad-bg{    
    background-image: linear-gradient(#F6EEBB, #FFE573);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;

 
  }

  #about-grad-bg{    
    background-image: linear-gradient(#F6EEBB, #E2A549);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;}


  /* #index-grad-bg{    
    background: linear-gradient(180deg, #F1F0D8 0%, #FFE672 25%, #F0B34F 50%, #D86A6C 75%, #9B4019 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw; 
    z-index: -100;

  } */
  /* end background section */


    
  .logo{
    place-items: center;
    align-content: center;
    left: 25%;
    z-index: 100;   
    justify-content: center;
    padding: 1.5vw;
    scale: 70%;
    position: fixed;
  }
/* TICKET BUTTON */
.button-tickets {
  z-index: 100;
  grid-column: 12;
  grid-row: 1;
  top: 4.75%;   
  right: 5%;
  position: fixed;
  width: 190px; 
  height: 50px;
  text-align: center;
  transition: 0.5s;
  color: white;
  border-radius: 18px;
  border: none;
  box-shadow: rgba(34, 33, 33, 0.57) 0 1px 3px 0;
  background-image: linear-gradient(45deg, #a8cd63 0%, #a8cd63  30%, #9ABE59  100%);
  cursor: pointer;
  font-size: 25px;
  font-family: "neue-kabel";
 
   
}
.button-tickets:hover {
  background-position: right center;
  text-decoration: none;
}
.button-tickets:active {
  transform: scale(0.99);
}
.button-tickets:hover,
.button-tickets:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-2px);
}
.button-tickets:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}/* end ticket button */



/* INDEX WORKSPACE */
  .tagline{
    grid-column: 1/13;
    grid-row: 1;
    color: #9B4019;
    /* padding: 4vw 0vw 0vw 10vw; */
    padding-top: 4vw;
    padding-left: 10vw;
    font-family: "neue-kabel", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    }

    .location{
      grid-row: 1;
      grid-column: 6/10;
      padding-top: 35vw;
      text-align: center;
      color: #7C4F25;
      padding-right: 5vw;
      
    }

  .tomato1{
    position: absolute;
    width: 344.88px;
    height: 500px;
    left: -100px;
    top: 20vw;
    scale: 56%;
    transform: rotate(62.03deg);
    transform: scale(-1, 1);  
    overflow: hidden;   
  }
  .tomato2{
    scale: 70%;
    top: 35vw;
    padding-left: 23%;
    position: absolute;
    transform: rotate(62.03deg);
    overflow: hidden; 
  }
  .tomato3{
    position: absolute;
    scale: 73%;
    top: 22vw;
    padding-left: 73%;
    transform: rotate(25.96deg);
    overflow: hidden; 
  }
  .tomato4{
    position: absolute;
    scale: 55%;
    top: 5vw;
    padding-left: 100%;
    overflow: hidden;
    width: 355px;
  }

  .itinerary{
    grid-column: 1/13;
    grid-row: 1/8;
    padding-top: 78vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0;    
    background-color: #d86a6c51;
    height: 300vw;

  }
  .dimsum{
    grid-column: 8/13;
    grid-row: 1;
    scale: 75%;
    z-index: -100;
    position: relative;

  }
  .curry{
    grid-row: 7;
    scale: 75%;
    padding-top: 147vw;
    position: absolute;
    left: -500px;
    transform: rotate(-31.5deg);
  }
  .paella{
    grid-row: 10;
    grid-column: 10/13;
    scale: 70%;
    z-index: -1;
    transform: rotate(-173.5deg);
    }
    .peppers{
      grid-row: 10;
      grid-column: 1/4;
      scale: 20%;
      z-index: -3;
      transform: rotate(-9.77deg);
    }
  .weekend{
    text-align: center;
    color: #9B4019;
    grid-column: 1/5;
    /* background-color: rgba(255, 0, 0, 0.227); */
    height: 120px;
    z-index: 3;
  }
  .day{
    text-align: right;
    font-family: "neue-kabel-light", sans-serif;
    font-size: 23px;
    padding: 0 8vw;
    color: #64331E;
    align-content:space-around;
    height: 20px;
    
  }  
  .food_country{
    padding: 3vw 4.5vw 0 4.5vw;
    font-size: 35px;
    font-family: "neue-kabel";
    font-weight: 400;
    font-style: normal;
    color: #9B4019;
    background-color: #f0f0f157;

  }
  #asia{
    grid-column: 1/3;
    grid-row: 1;
    padding-top: 15vw;
    background-color: rgba(179, 245, 203, 0.496);
    
  }
  #america{
    grid-column: 3/5;
    grid-row: 1;
    text-align: left;height: 10vw;
    background-color: rgba(255, 166, 0, 0.336);
  }
  #africa{
    grid-column: 1/4;
    grid-row: 3;
    text-align: right;
    
  }
  #europe{
    grid-column: 3/5;   
    grid-row: 4; 
    text-align: left;
    
  }
  .line_container{
    grid-column: 1/5;
    /* background-color: rgba(0, 0, 0, 0.543); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    z-index: 200;
  }
  .line{
    grid-row: 1/5;
    margin: 3.25vw 0 3.25vw 0;
    width: 27vw;
    border: 2px solid #E2A549;
    
  }
/* end INDEX workspace */

/* INDEX WORKSPACE */
/* .tagline{
  grid-column: 1/13;
  grid-row: 1;
  color: #9B4019;
  padding: 4vw 0vw 0vw 10vw;
  font-family: "neue-kabel", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
  }

  .location{
    grid-row: 3;
    grid-column: 6/9;
    padding-top: 10vw;
    text-align: center;
    color: #7C4F25;
    
  }

.tomato1{
  position: absolute;
  width: 344.88px;
  height: 500px;
  left: -100px;
  top: 20vw;
  scale: 56%;
  transform: rotate(62.03deg);
  transform: scale(-1, 1);  
  overflow: hidden;   
}
.tomato2{
  scale: 70%;
  top: 35vw;
  padding-left: 23%;
  position: absolute;
  transform: rotate(62.03deg);
  overflow: hidden; 
}
.tomato3{
  position: absolute;
  scale: 73%;
  top: 22vw;
  padding-left: 73%;
  transform: rotate(25.96deg);
  overflow: hidden; 
}
.tomato4{
  position: absolute;
  scale: 55%;
  top: 5vw;
  padding-left: 100%;
  overflow: hidden;
  width: 355px;
}

.itinerary{
  grid-column: 1/13;
  grid-row: 4/10;
  align-items: center;
  padding-top: 30vw;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 3;
  grid-gap: 0;

}
.dimsum{
  grid-column: 8/13;
  grid-row: 4;
  scale: 75%;
  padding-top: 55vw;

}
.curry{
  grid-row: 7;
  scale: 75%;
  padding-top: 147vw;
  position: absolute;
  left: -500px;
  transform: rotate(-31.5deg);
}
.paella{
  grid-row: 10;
  grid-column: 10/13;
  scale: 70%;
  z-index: -1;
  transform: rotate(-173.5deg);
  }
  .peppers{
    grid-row: 10;
    grid-column: 1/4;
    scale: 20%;
    z-index: -3;
    transform: rotate(-9.77deg);
  }
.weekend{
  text-align: center;
  color: #9B4019;
  grid-column: 1/5;
  padding-bottom: 25vw;
}
.day{
  text-align: right;
  font-family: "neue-kabel-light", sans-serif;
  font-size: 23px;
  padding: 0 8vw;
  color: #64331E;
  align-content:space-around;
  
}  
.food_country{
  padding: 3vw 4.5vw 0 4.5vw;
  font-size: 35px;
  font-family: "neue-kabel";
  font-weight: 400;
  font-style: normal;
  color: #9B4019;

}
#asia{
  grid-column: 1/3;
  grid-row: 1;
  padding-top: 22vw;
  /* background-color: wheat; */
/* } */
#america{
  grid-column: 3/5;
  grid-row: 2;
  text-align: left;
  /* background-color: orange; */
  padding-bottom: 13vw;
}
#africa{
  grid-column: 1/3;
  grid-row: 3;
  text-align: right;
  
}
#europe{
  grid-column: 3/5;   
  grid-row: 4; 
  text-align: left;
  
}
.line_container{
  grid-column: 1/5;
  /* background-color: rgba(0, 0, 0, 0.543); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  z-index: 200;
}
.line{
  grid-row: 1/5;
  margin: 3.25vw 0 3.25vw 0;
  width: 27vw;
  border: 2px solid #E2A549;
  
} 
/* end INDEX workspace */


/* TICKET PAGE workspace */

.tickets-general{
  grid-column: 3/6;
  grid-row: 2;
  text-align: center;
  padding-top: 15%;
  scale: 75%;
  transform: rotate(3deg);
}
.tickets-centered-general {
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding-top: 6%;
  padding-bottom: 10%;
}
.tickets-gourmet{
  grid-column: 8/13;
  grid-row: 2;
  text-align: center;
  padding-top: 10%;
  scale: 75%;
  transform: rotate(-3deg);
 
}
.tickets-centered-gourmet {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-top: 6%;
  padding-left: 35%;
  padding-bottom: 5%;
  
}
.tickets-weekend-general{
  grid-column: 2/6;
  grid-row: 3;
  text-align: center;
  scale: 75%;
  transform: rotate(-3deg);
  padding-left: 40%;
  padding-top: 15%;
}
.tickets-centered-weekend-general {
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding-bottom: 50%;
  padding-left: 25%;
  padding-top:20%;
  
}
.tickets-weekend-gourmet{
  grid-column: 8/13;
  grid-row: 3;
  text-align: center;
  scale: 75%;
  transform: rotate(3deg);
  padding-right: 40%;
  padding-top: 10%;
}
.tickets-centered-weekend-gourmet {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-bottom: 35%;
  padding-left: 45%;
  padding-top: 20%

}
.tickets-buy-container{

  justify-content: center;
  transform: rotate(3deg);
  padding-left: 10%;

}
.tickets-buy-container2{
  transform: rotate(-3deg);
  padding-left: 50%;
  
}
.tickets-buy-container3{
  transform: rotate(3deg);
  padding-left: 70%;

}
.tickets-buy-container4{
  transform: rotate(-3deg);
  padding-left: 50%;

}

/* TICKET BUTTON */
.tickets-buy {
  z-index: 100;
  grid-column: 3/6;
  grid-row: 11;
  width: 190px; 
  height: 50px;
  text-align: center;
  transition: 0.5s;
  color: white;
  border-radius: 18px;
  border: none;
  box-shadow: rgba(34, 33, 33, 0.57) 0 1px 3px 0;
  background-image: linear-gradient(45deg, #a8cd63 0%, #a8cd63  30%, #9ABE59  100%);
  cursor: pointer;
  font-family: Neue Kabel;
  font-size: 24px;

}
.tickets-buy:hover {
  background-position: right center;
  text-decoration: none;
}
.tickets-buy:active {
  transform: scale(0.99);
}
.tickets-buy:hover,
.tickets-buy:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-2px);
}
.tickets-buy:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.tickets-map-btn{

  z-index: 100;
  width: 300px; 
  height: 50px;
  text-align: center;
  transition: 0.5s;
  color: white;
  border-radius: 18px;
  border: none;
  box-shadow: rgba(34, 33, 33, 0.57) 0 1px 3px 0;
  background-color: #E2A549;
  cursor: pointer;
  font-family: Neue Kabel;
  font-size: 24px;

}
.tickets-map-btn:hover {
  background-position: right center;
  text-decoration: none;
}
.tickets-map-btn:active {
  transform: scale(0.99);
}
.tickets-map-btn:hover,
.tickets-map-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-2px);
}
.tickets-map-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* vector for heading */
.svg-path-vec {
  width: 75px;
  border: 3px solid #C8981C;
}

.tickets-vec-container{
  grid-row: 1;
  grid-column: 3;
  padding-top: 20%;
}
.tickets-vec-title{
  justify-content: center;
  grid-row: 1;
  grid-column: 4/8;

}

.tickets-vec-container2{
  grid-row: 3;
  grid-column: 13;
  padding-top: 20%;
  padding-left: 50%;
}
.tickets-vec-container3{
  grid-row: 4;
  grid-column: 3;
  padding-top: 40%;
}
.tickets-vec-container4{
  grid-row: 5;
  grid-column: 11;
  padding-top: 40%;
  padding-left: 90%;
}

.tickets-vec-title2{
  justify-content: center;
  grid-row: 3;
  grid-column: 12/13;
  padding-left: 50%;


}
.tickets-vec-title3{
  justify-content: center;
  grid-row: 4;
  grid-column: 4/9;
  padding-left: 10%;
  padding-top: 5%;

}
.tickets-vec-title4{
  justify-content: center;
  grid-row: 5;
  grid-column: 10;
  padding-left: 40%;
  padding-top: 5%;

}
.tickets-orange-container{
  overflow: hidden;
  grid-row: 3;
  grid-column: 1/3;
  rotate: 180deg;

}
.tickets-lemon-container{
  grid-row: 2/3;
  grid-column: 13;
}
.tickets-guava-container{
  /* rotate: 90deg; */
  grid-row: 4;
  grid-column: 11/13;


}
.tickets-lem-img{
  width: auto;
  height: 40vh;
}
.tickets-guava-img{
  width: auto;
  height: 50vh;
  padding-bottom: 30%;
}

.tickets-map-info{
  grid-row: 4;
  grid-column: 1/13;
  padding-left: 23%;
  padding-top: 10%;
  padding-bottom: 3%;
}




 


/* end TICKET PAGE workspace */

/* start of ABOUT PAGE workspace*/

.About-Orange-Box {
grid-column: 11/12;
grid-row: 5;
text-align: right;
padding-top:30%;
background-color: #9ABE59;


}

.Our-Origin {

grid-column: 1/12;
grid-row: 8;
font-family: 'Glegoo';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 30px;

align-items: center;
text-align: center;

color: #64331E;
}