*{
    margin: 0;
}
html{
  scroll-behavior: smooth; 
  background: #F1F0D8;
}
::-webkit-scrollbar {display: none;} /* no scroll bar*/

/** grid for all pages **/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);/* spans 1 - 11*/
    grid-template-rows: repeat(40, 1fr);/* supa long grid*/
    justify-content: center;
    overflow: hidden; /* so there is no side scroll, everything fits in the page*/
    grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;
    
  } 

  /* fonts */
  h1{
    font-family: Neue Kabel;
    font-size: 96px;
  }

  h2{
    font-family: "bagatelle-variable", sans-serif;
    font-variation-settings: "BLLS" 199.0, "STCK" 219.81982; 
    font-size: 60px;
 
  }



  /* backgrounds */
  #tickets-grad-bg{    
    background-image: linear-gradient(#F6EEBB, #FFE573);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
 
  }
  #index-grad-bg{    
    background: linear-gradient(180deg, #F1F0D8 0%, #FFE672 25%, #F0B34F 50%, #D86A6C 75%, #9B4019 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw; 

  }


  .logo{
    place-items: center;
    align-content: center;
    left: 25%;
    z-index: 1;   
    justify-content: center;
    display: grid;
    padding: 15px;
    scale: 70%;
    position: fixed;
  }

  .tagline{
    grid-column: 2/9;
    grid-row: 2;
    color: #9B4019;
  }

  .tomato1,.tomato2,.tomato3,.tomato4{
    z-index: -5;
  }
  .tomato1{
    left: 5%;    
    grid-row: 2;
    scale: 50%;
  }
  .tomato2{
    grid-column: 2/5; 
    grid-row: 3;
    scale: 60%;
  }
  .tomato3{
    grid-column: 3/8; 
    grid-row: 3;
    scale: 80%;
  }
  .tomato4{
    grid-column: 10/12; 
    grid-row: 2;
    scale: 70%;
  }

            /* TICKET BUTTON */
  .button-tickets {
    z-index: 100;
    grid-column: 12;
    grid-row: 1;
    top: 4.75%;   
    right: 5%;
    position: fixed;
    width: 190px; 
    height: 50px;
    text-align: center;
    transition: 0.5s;
    color: white;
    border-radius: 18px;
    border: none;
    box-shadow: rgba(34, 33, 33, 0.57) 0 1px 3px 0;
    background-image: linear-gradient(45deg, #a8cd63 0%, #a8cd63  30%, #9ABE59  100%);
    cursor: pointer;
    font-size: 20px;
    
     
  }
  .button-tickets:hover {
    background-position: right center;
    text-decoration: none;
  }
  .button-tickets:active {
    transform: scale(0.99);
  }
  .button-tickets:hover,
  .button-tickets:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      transform: translateY(-2px);
  }
  .button-tickets:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
    
