*{
    margin: 0;
}
html{
  scroll-behavior: smooth; 
}
::-webkit-scrollbar {display: none;} /* no scroll bar*/

/** grid for all pages **/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);/* spans 1 - 11*/
    grid-template-rows: repeat(40, 1fr);/* supa long grid*/
    justify-content: center;
    overflow: hidden; /* so there is no side scroll, everything fits in the page*/
    grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;
    
  } 

  /* fonts */
  h1{
    font-family: Neue Kabel;
    font-size: 96px;
  }

  h2{
    font-family: "bagatelle-variable", sans-serif;
    font-variation-settings: "BLLS" 199.0, "STCK" 219.81982; 
    font-size: 80px;
 
  }



  /* backgrounds */
  #tickets-grad-bg{
    
    background-image: linear-gradient(#F6EEBB, #FFE573);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
 

  }

  .logo{
    grid-column: 1/13;
    grid-row: 1; 
    z-index: 100;   
    justify-content: center;
    display: grid;
    padding: 20px;
  }

  .tagline{
    grid-column: 2/6;
    grid-row: 2;
  }

            /* TICKET BUTTON */
  .button-tickets {
    grid-column: 11;
    grid-row: 1;
    /* position: absolute;
    left: 77%;
    right: 3%;
    top: 2.3%; */
    padding: 15px ;
    text-align: center;
    transition: 0.5s;
    color: white;
    border-radius: 25px;
    display: block;
    border: none;
    box-shadow: rgba(34, 33, 33, 0.57) 0 1px 3px 0;
    background-image: linear-gradient(45deg, #a8cd63 0%, #b4cd42  40%, #9ABE59  100%);
    cursor: pointer;
    font-size: 20px;
     
  }
  .button-tickets:hover {
    background-position: right center;
    text-decoration: none;
  }
  .button-tickets:active {
    transform: scale(0.99);
  }
  .button-tickets:hover,
  .button-tickets:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      transform: translateY(-2px);
  }
  .button-tickets:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
    
